---
title: A Fistful of Code
---

<section id="content" class="body">
  <div id="blog-archives">
    <div id="posts-list" class="hfeed">
      <aside class"published-date">
        <abbr class="published-year" title="2013">
          2013
        </abbr>
      </aside>
      <div>
        <article class="hentry">
          <aside class"published-date">
            <abbr class="published-at" title="Dec-16">
              Dec 16
            </abbr>
          </aside>

          <div class="entry-content">
            <header>
              <h2 class="entry-title"><a href="#" rel="bookmark" title="Permalink to this POST TITLE">This be the title</a></h2>
            </header>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis nunc vitae libero iaculis elementum. Nullam et justo <a href="#">non sapien</a> dapibus blandit nec et leo. Ut ut malesuada tellus.</p>
          </div>
        </article>
      </div>

      <%= partial "lipsum_index" %>
    </div>
  </div>
</section>
